/* Animations Area css
============================================================================================ */
@keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}

@-webkit-keyframes runpulse {
  0% {
    -webkit-transform: scale(0.68);
    transform: scale(0.68);
  }
  100% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0;
  }
}

@keyframes runpulse {
  0% {
    -webkit-transform: scale(0.68);
    transform: scale(0.68);
  }
  100% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0;
  }
}
@keyframes mapbit {
    0% {
		opacity: 1;
		top: 30%;
    }
    100% {
        opacity: 1; 
		top: 28%;
    }
}
@keyframes rounded {
    100% {
        transform: rotate(360deg);
    }
}
/* End Animations Area css
============================================================================================ */