/* Testimonials Area css
============================================================================================ */
.testimonials_area{
	background: url(../img/testimonials/testi-bg.jpg) no-repeat scroll center center;
	background-size: cover;
	position: relative;
	z-index: 2;
	&:before{
		content: "";
		background: rgba(0, 0, 0, .5);
		position: absolute;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
		z-index: -1;
	}
	&.testi_two_or{
		background: #f1fbff;
		&:before{
			display: none;
		}
		.testi_item{
			box-shadow: 0px 2px 4px 0px rgba(0, 121, 175, 0.08);
			i{
//				color: $or;
			}
		}
		.testi_slider{
			.owl-dots{
				.owl-dot{
					background: #c1c9cc;
					&.active{
//						background: $or;
					}
				}
			}
		}
	}
	&.green_testi{
		.testi_item{
			i{
				color: $green;
			}
		}
		.testi_slider{
			.owl-dots{
				.owl-dot{
					background: #c1c9cc;
					&.active{
						background: $green;
					}
				}
			}
		}
	}
	&.testi_red{
		background: #f5f7f7;
		&:before{
			display: none;
		}
		.testi_item{
			box-shadow: 0px 2px 4px 0px rgba(0, 121, 175, 0.08);
		}
		.testi_slider{
			.owl-dots{
				.owl-dot{
					background: #c1c9cc;
				}
			}
		}
	}
	&.bg_white{
		background: #fff;
		.testi_item{
			background: #f5f7f6;
		}
	}
	&.red2{
		.testi_item{
			i{
//				color: $red2;
			}
		}
		.testi_slider{
			.owl-dots{
				
				.owl-dot{
					&.active{
						background: $red2;
					}
				}
			}
		}
	}
}
.testi_inner{
	margin-left: -15px;
	margin-right: -15px;
	margin-top: -5px;
}
.testi_slider{
	.item{
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 5px;
		padding-bottom: 5px;
	}
}
.testi_item{
	background: #fff;
	border-radius: 5px;
	padding: 30px;
	box-shadow: 0px 2px 4px 0px rgba(0, 121, 175, 0.08);
	i{
		font-size: 32px;
		margin-bottom: 18px;
		display: block;
	}
	p{
		margin-bottom: 25px;
	}
	.media{
		.d-flex{
			padding-right: 18px;
		}
		.media-body{
			h3{
				font: bold 20px $bar;
				color: $dip;
			}
			h5{
				font: normal 14px $bar;
				color: $pfont;
				margin-bottom: 0px;
			}
		}
	}
}
.testi_slider{
	.owl-dots{
		text-align: center;
		margin: 0px;
		padding: 0px;
		margin-top: 65px;
		.owl-dot{
			width: 20px;
			height: 2px;
			background: #515055;
			margin-right: 6px;
			&:last-child{
				margin-right: 0px;
			}
		}
	}
}
.taxi_tesi_area{
	background: #f9f9f9;
	&:before{
		display: none;
	}
	.testi_item{
		box-shadow: 0px 2px 4px 0px rgba(0, 121, 175, 0.08);
		i{
			color: $yellow;
			display: block;
			margin-bottom: 10px;
		}
	}
	.testi_slider{
		.owl-dots{
			.owl-dot{
				background: #c7c7c7;
				&:hover, &.active{
					background: $yellow;
				}
			}
		}
	}
}
/* End Testimonials Area css
============================================================================================ */

/* Client Slider Feedback Area css
============================================================================================ */
.client_feedback_area{
	background: url(../img/feedback-bg.jpg) no-repeat scroll center center;
	background-size: cover;
	.flag_center_title{
		margin-bottom: 70px;
	}
	&.client_f_2{
		background: url(../img/feedback-bg-2.jpg) no-repeat scroll center center;
		.client_item{
			p{
				&:after{
					color: rgba(0, 0, 0, .10);
					opacity: 1;
				}
			}
		}
	}
	&.truck_client_feedback{
		background: #f1fbff;
	}
}
.service_client_feedback{
	background: #f5f7f7;
	.client_item{
		p{
			&:after{
				opacity: .10;
			}
		}
	}
}
.client_slider{
	.owl-dots{
		text-align: center;
		margin-top: 45px;
		.owl-dot{
			height: 2px;
			width: 20px;
			background: #c6c6c6;
			margin-right: 6px;
			@include transition;
			&:last-child{
				margin-right: 0px;
			}
		}
	}
}
.client_item{
	max-width: 730px;
	margin: auto;
	text-align: center;
	p{
		font: normal italic 20px/34px $bar;
		color: $dip;
		margin-bottom: 50px;
		position: relative;
		padding-top: 35px;
		&:before{
			content: "";
			background: url(../img/icon/feedback-br.png) no-repeat;
			width: 212px;
			height: 10px;
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			bottom: -30px;
		}
		&:after{
			content: "\e93c";
			font-family: 'icomoon' !important;
			font-size: 100px;
			font-style: normal;
			position: absolute;
			left: 50%;
			top: 35px;
			transform: rotate(180deg);
			opacity: .05;
			margin-left: -62.5px;
		}
	}
	h4{
		color: $dip;
		font: bold 24px $bar;
		margin-bottom: 10px;
	}
	h5{
		font: normal 16px $bar;
		color: $pfont;
		margin-bottom: 0px;
	}
}
/* End Client Slider Feedback Area css
============================================================================================ */